### Task 1

In [32]:
import pandas as pd

df = pd.read_csv('train.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [33]:
df2 = pd.read_csv('test.csv')
df2.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [34]:
print('Train set. Number of rows: ', df.shape[0], ', columns: ', df.shape[1])

Train set. Number of rows:  1460 , columns:  81

In [35]:
print('Test set. Number of rows: ', df2.shape[0], ', columns: ', df2.shape[1])

Test set. Number of rows:  1459 , columns:  80

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

The column that I am trying to predict is SalePrice.

In [37]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     1443 non-null   object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

the 'SalePrice' column is not included in the test set.

### Task 2

In [38]:
# empty cells in train set

df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [39]:
# empty cells in test set

df2.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotFrontage      227
LotArea            0
                ...
MiscVal            0
MoSold             0
YrSold             0
SaleType           1
SaleCondition      0
Length: 80, dtype: int64

In [40]:
# total number of empty cells in train set

df.isnull().sum().sum()

6965

In [41]:
# total number of empty cells in test set

df2.isnull().sum().sum()

7000

In [42]:
# turning categorical data to numbers

from sklearn.preprocessing import LabelEncoder 
categorical_columns = df.select_dtypes(include=['object'])

for x in categorical_columns.columns:
    categorical_columns[x]=LabelEncoder().fit_transform(categorical_columns[x])
    df[x]=LabelEncoder().fit_transform(df[x])

<ipython-input-42-4c711ee9fd2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_columns[x]=LabelEncoder().fit_transform(categorical_columns[x])

In [43]:
# turning categorical data to numbers (test set)

from sklearn.preprocessing import LabelEncoder 
categorical_columns = df2.select_dtypes(include=['object'])

for x in categorical_columns.columns:
    categorical_columns[x]=LabelEncoder().fit_transform(categorical_columns[x])
    df2[x]=LabelEncoder().fit_transform(df2[x])

<ipython-input-43-7b55fc64fa2a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_columns[x]=LabelEncoder().fit_transform(categorical_columns[x])

In [44]:
# filling empty vals with 0
df.fillna(0,inplace=True)
df2.fillna(0,inplace=True)

### Tasks 3 and 4

In [45]:
X = df.drop('SalePrice', axis=1)
y = df['SalePrice']

In [46]:
import numpy as np

def normalize_data(X):
    X_norm = (X - np.mean(X))/np.std(X)
    mu = np.mean(X)
    sigma = np.std(X)
    return X_norm, mu, sigma


X, mean, std = normalize_data(X) 
print('Mean: ', mean)
print('Std: ', std)

Mean:  Id                 730.500000
MSSubClass          56.897260
MSZoning             3.028767
LotFrontage         57.623288
LotArea          10516.828082
                     ...
MiscVal             43.489041
MoSold               6.321918
YrSold            2007.815753
SaleType             7.513014
SaleCondition        3.770548
Length: 80, dtype: float64
Std:  Id                421.465598
MSSubClass         42.286082
MSZoning            0.631801
LotFrontage        34.652431
LotArea          9977.846105
                    ...
MiscVal           495.953090
MoSold              2.702700
YrSold              1.327640
SaleType            1.551569
SaleCondition       1.100477
Length: 80, dtype: float64

In [47]:
# cost function calculation
import numpy as np

def sigmoid(z):
    return 1/ (1 + np.exp(-z))

def costFunction(theta, X, y):
    m=len(y)
    predictions = sigmoid(np.dot(X,theta))
    error = (-y * np.log(predictions)) - ((1-y)*np.log(1-predictions))
    cost = 1/m * sum(error)
    grad = 1/m * np.dot(X.transpose(),(predictions - y))
    return cost[0] , grad

In [48]:
m , n = X.shape[0], X.shape[1]
X= np.append(np.ones((m,1)),X,axis=1)
y=np.array(y).reshape(m,1)
initial_theta = np.zeros((n+1,1))
cost, grad= costFunction(initial_theta,X,y)
print("Cost: ",cost)
# print("Gradient at theta:",grad)

Cost:  0.693147180559552

In [49]:
# applying linear regression

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

X = df.drop('SalePrice', axis=1)
y = df['SalePrice']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

model = LinearRegression().fit(X_train,y_train)
y_pred = model.predict(X_test)
y_pred

array([-2.04830988e+15, -1.62361926e+14, -1.55174224e+15,  5.10663365e+15,
        1.56977598e+15, -2.82279945e+15, -2.37205436e+15,  3.46072299e+15,
        9.53840982e+15, -4.31067992e+13,  3.20435719e+15,  5.39036273e+15,
        2.45987528e+15, -5.53701674e+15, -9.52380987e+14, -3.51739472e+15,
       -4.53584670e+14, -3.33349069e+15,  2.37794047e+15,  4.36770738e+15,
       -5.03902823e+13, -4.79903452e+15, -4.30526475e+15,  4.19905247e+15,
        3.36781444e+15,  4.43127291e+15,  2.04402747e+15, -4.77469727e+15,
       -3.14707383e+15, -7.36459405e+14,  4.24957252e+15,  9.07940052e+13,
       -5.37381652e+15,  4.42977793e+15,  7.82962500e+15, -2.82447056e+14,
       -3.49185758e+15, -3.00465269e+15,  8.35429995e+15,  4.27948083e+15,
       -3.63632095e+15, -8.48772919e+15,  2.75606454e+15, -8.59286304e+14,
        7.94718872e+15,  4.24025261e+15, -4.47662635e+15, -4.33264824e+15,
        1.70471138e+15, -8.23289079e+15,  5.03693785e+15, -4.52022357e+15,
       -1.58000838e+15, -2.42068788e+15, -6.66794646e+15, -1.24510468e+14,
       -8.21504559e+14,  6.27851151e+15, -2.90241185e+15, -2.03886265e+15,
       -5.22902933e+15, -2.93290948e+15, -1.63387627e+15, -5.24251456e+15,
       -5.11343099e+15, -2.59834638e+14, -2.26638182e+15,  5.61690103e+15,
        2.62660216e+15,  5.89708139e+15,  8.79888728e+14, -5.39635973e+15,
       -8.26942086e+15, -2.97896796e+15, -2.07908105e+15,  5.08957306e+15,
       -5.33486187e+15,  3.59108198e+15,  1.03875923e+16, -1.63616186e+15,
       -6.13485290e+15, -4.58014856e+15, -7.81541243e+14, -4.02103139e+15,
        2.21718119e+16, -1.79960187e+15,  2.17069434e+15,  3.31099161e+15,
        2.01874008e+15, -2.60738911e+15,  2.01285892e+15, -1.19818801e+14,
        1.63895209e+14,  1.81158424e+15,  2.57788000e+15, -2.59796708e+15,
       -1.01311590e+15,  5.43890134e+15, -1.38799530e+15,  4.29064057e+15,
       -3.37018401e+15,  2.65982334e+15, -9.30269975e+15, -3.94116599e+12,
       -1.89800059e+15,  1.03749870e+16, -1.76644959e+15, -1.46764848e+15,
        4.20553357e+15,  2.49979707e+15, -6.09730255e+15, -5.28352155e+15,
        2.19057096e+15, -1.85583836e+15,  6.37746567e+14,  7.38779504e+14,
        9.74271384e+15, -4.65596840e+15,  2.84035317e+15,  7.40069389e+15,
       -3.37911847e+15,  3.46047160e+15, -5.02357741e+15,  1.18933485e+15,
       -3.37505349e+15, -8.51753062e+13,  8.32947382e+15,  2.79026846e+15,
       -5.29480699e+15, -3.23451267e+15, -6.03253939e+15,  2.45791628e+15,
       -1.07021606e+15, -9.65812661e+14, -4.79924998e+13, -9.75529763e+14,
        2.67235689e+15,  3.18436324e+15,  1.98599588e+14,  1.84505796e+15,
        1.31499052e+15, -7.36816382e+15,  9.15314570e+14, -3.25613292e+15,
       -6.38339077e+15,  7.02532824e+14,  3.85187587e+15, -4.44304495e+15,
        2.67104862e+15, -6.08423571e+15,  2.53173207e+14, -5.26722599e+15,
        6.19012085e+15,  1.41170751e+15,  3.16925238e+15,  5.33391037e+15,
       -1.52453470e+15,  4.42962486e+15,  2.12919540e+14,  2.17586968e+14,
       -4.53517452e+15, -4.90436702e+15,  4.76129438e+15, -4.94359023e+15,
        4.51553240e+15,  2.50222631e+15, -7.91878265e+15,  9.87997868e+15,
       -1.80697434e+15,  5.36298000e+15, -4.60436550e+15,  2.52717662e+15,
       -3.41636606e+15, -5.51600810e+15,  7.78424226e+14, -2.66318595e+15,
       -3.52374964e+15,  4.03171580e+15, -3.62710312e+15, -9.28614524e+14,
       -1.59668789e+15,  1.06419206e+15,  9.13794739e+14, -2.99483438e+15,
       -1.90610547e+15, -6.94469417e+14, -1.39297319e+15, -2.66888298e+15,
        2.20214222e+15, -4.79903452e+15, -4.44197467e+15, -4.94121538e+15,
        4.24302595e+15, -2.21349835e+15, -1.41370610e+15, -4.86748188e+15,
       -5.17852305e+15, -6.87951653e+15,  3.54091641e+15,  9.05378844e+13,
       -3.29312863e+15, -3.00311788e+15, -4.36405354e+15, -3.19669834e+15,
        4.78320048e+15,  7.63044563e+15, -1.34846652e+15,  1.98395322e+15,
        5.78816639e+15, -3.35637079e+14, -2.91398580e+15, -4.65233306e+15,
       -8.51991271e+15, -6.08149020e+15, -6.22841964e+15,  1.52727317e+15,
       -2.40119996e+15,  5.28201044e+15,  5.06203379e+15, -5.08030295e+15,
       -4.19156622e+15,  3.47094323e+15,  4.14935051e+14, -2.57365222e+15,
        2.78301438e+15,  1.85999008e+15,  6.73486672e+15, -1.60914444e+15,
       -3.83580973e+15,  7.27617393e+14, -8.51991271e+15, -1.68556965e+15,
       -3.07878417e+15,  1.51820049e+15,  2.44424902e+15,  3.28860179e+15,
        6.29202822e+15, -3.16612108e+15, -8.81215320e+15, -4.86586302e+15,
        6.59964161e+14,  5.01971674e+15,  6.17569227e+15,  2.83720244e+15,
       -4.25683698e+15,  1.31505415e+15, -5.30896478e+15,  1.44019569e+15,
       -2.33403738e+15, -1.97939389e+14, -4.07952495e+15,  7.26272335e+15,
       -4.79924998e+13,  1.39359174e+16, -3.74545000e+15,  6.48424556e+15,
       -4.01214496e+15, -3.97807756e+15,  6.01720156e+15,  5.51400634e+15,
        1.24078342e+15,  4.38816955e+15,  6.28586267e+15, -3.51436269e+15,
       -3.45048221e+15, -1.90110103e+15,  1.99961111e+15, -2.34063245e+15,
        6.49026011e+15,  5.48366784e+15,  2.81490584e+15,  8.19550947e+15,
        5.40578088e+14,  2.68652272e+15,  1.59417015e+16,  3.67598512e+15,
       -1.84080036e+15,  1.56509395e+15,  7.36722833e+15, -3.70646337e+15,
       -6.12010795e+15, -2.76199091e+15,  6.08441057e+14, -6.55471917e+14,
        2.74361591e+15,  3.12555817e+15,  1.81900236e+14, -5.70816891e+15,
        1.79470153e+15, -1.27075685e+15, -5.72297511e+15,  1.21702341e+15])

In [50]:
# gradient descent algorithm
from sklearn import metrics
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.linear_model import SGDRegressor

sgd_reg = SGDRegressor().fit(X_train, y_train)

test_pred = sgd_reg.predict(X_test)
train_pred = sgd_reg.predict(X_train)

print('Test set score: ', metrics.r2_score(y_test, test_pred) * 100)
print('Train set score: ', metrics.r2_score(y_train, train_pred) * 100)

Test set score:  66.554067241148
Train set score:  88.64068258901894

In [51]:
def gradientDescent(X,y,theta,alpha,num_iters):
    m=len(y)
    J_history =[]
    for i in range(num_iters):
        cost, grad = costFunction(theta,X,y)
        theta = theta - (alpha * grad)
        J_history.append(cost)
    return theta, J_history

In [52]:
num_iters = 400 ## Initialize the iteration parameter.
alpha = 0.01 ## Initialize the learning rate.
m , n = X.shape[0], X.shape[1]
X= np.append(np.ones((m,1)),X,axis=1)
y=np.array(y).reshape(m,1)
initial_theta = np.zeros((n+1,1))

theta, J_history = gradientDescent(X,y,initial_theta,alpha,num_iters)
print('New theta: ', theta)

<ipython-input-47-a56b8a19a3d2>:10: RuntimeWarning: divide by zero encountered in log
  error = (-y * np.log(predictions)) - ((1-y)*np.log(1-predictions))

New theta:  [[7.23680789e+05]
 [5.25714534e+08]
 [4.00432952e+07]
 [2.15836956e+06]
 [4.40083504e+07]
 [8.44709754e+09]
 [7.21540687e+05]
 [1.39500598e+06]
 [1.29135805e+06]
 [2.01342171e+06]
 [3.76709592e+02]
 [2.15019393e+06]
 [4.95931181e+04]
 [9.26873893e+06]
 [1.49530291e+06]
 [1.45392763e+06]
 [3.24315104e+05]
 [2.30814777e+06]
 [4.76133555e+06]
 [4.00725613e+06]
 [1.43158375e+09]
 [1.43973377e+09]
 [1.07956017e+06]
 [8.03391118e+05]
 [7.07032797e+06]
 [7.59932639e+06]
 [1.28928310e+06]
 [1.01748018e+08]
 [1.69759476e+06]
 [2.72916646e+06]
 [1.09841459e+06]
 [1.49113647e+06]
 [2.06027281e+06]
 [1.55750589e+06]
 [1.97583531e+06]
 [3.77020669e+08]
 [3.43395306e+06]
 [3.31039744e+07]
 [4.40595816e+08]
 [8.50720459e+08]
 [7.40690997e+05]
 [8.92224745e+05]
 [6.96283550e+05]
 [2.74362513e+06]
 [9.15746150e+08]
 [2.95378036e+08]
 [3.83419901e+06]
 [1.21495839e+09]
 [3.45237665e+05]
 [4.03593647e+04]
 [1.23069511e+06]
 [3.22450369e+05]
 [2.11796237e+06]
 [7.47877178e+05]
 [1.53789301e+06]
 [4.99229245e+06]
 [4.19654658e+06]
 [5.39213729e+05]
 [2.54928123e+06]
 [1.54385306e+06]
 [1.39002679e+09]
 [7.73661815e+05]
 [1.43080973e+06]
 [3.84614037e+08]
 [2.84359341e+06]
 [2.87099670e+06]
 [1.37975409e+06]
 [8.11151329e+07]
 [4.04126824e+07]
 [1.33922582e+07]
 [2.88251854e+06]
 [1.28725883e+07]
 [3.17548722e+06]
 [2.15896577e+06]
 [2.58471603e+06]
 [2.84815802e+06]
 [2.81338704e+07]
 [4.61491454e+06]
 [1.45300549e+09]
 [5.40995929e+06]
 [2.80316559e+06]]

In [53]:
train_data = df.drop('SalePrice',axis=1)
test_data = df2
target = df.SalePrice
#fitting model with prediction data and telling it my target
model.fit(train_data, target)
preds_fin = model.predict(test_data)
preds_fin

array([186812.84912201, 236988.67801288, 247205.3945147 , ...,
       235510.59782574, 203192.19876348, 322737.63252445])

In [54]:
df2['SalePrice'] = preds_fin
df2.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,20,2,80.0,11622,1,2,3,3,0,...,0,2,2,3,0,6,2010,8,4,186812.849122
1,1462,20,3,81.0,14267,1,2,0,3,0,...,0,2,4,0,12500,6,2010,8,4,236988.678013
2,1463,60,3,74.0,13830,1,2,0,3,0,...,0,2,2,3,0,3,2010,8,4,247205.394515
3,1464,60,3,78.0,9978,1,2,0,3,0,...,0,2,4,3,0,6,2010,8,4,266610.446406
4,1465,120,3,43.0,5005,1,2,0,1,0,...,0,2,4,3,0,1,2010,8,4,266019.141533

The result above shows the predicted values for SalePrice column in the test set.